// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.li-ionic4-datePicker {
    .modal-wrapper {
        // height: 75%;
        height: 450px;
        max-height: 450px;
        width: 312px;
        border-radius: 0px;
        --ion-color-primary: red; // This Variable used for the change of colour ion-datepicker only.
        --ion-color-primary-tint: rgb(214, 153, 153); // This Variable changes the tint colour of background when click button.

        ion-button {
            // --ion-color-primary: green; // This Variable used for the change colour of buttons only.
            // --ion-color-primary-tint: lightgreen; // This Variable changes the tint color of background when click buttons.
            // --border-radious: 0px; // This Variable changes the border radious of buttons.
            // button customization css write here...
        }

        // @media (min-width: 768px) {
        //     width: 350px;
        //     height: 65%;
        // }
    }
}