<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Ionic4-DatePicker Demo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label>Component way</ion-label>
          <li-ionic4-datepicker readonly [(ngModel)]="mydate" [inputDateConfig]="datePickerObj"></li-ionic4-datepicker>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Directive way</ion-label>
          <ion-input readonly [(ngModel)]="mydate" (ionChange)="onChangeDate()" [liIonic4Datepicker]="datePickerObj"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Directive way Disabled</ion-label>
          <ion-input readonly [(ngModel)]="mydatePtBr" (ionChange)="onChangeDate()" [disabled]="isDisableDatePicker"
            [liIonic4Datepicker]="datePickerObjPtBr"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label>Make above enable/disable</ion-label>
          <ion-toggle [(ngModel)]="isDisableDatePicker"></ion-toggle>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10">
        <ion-input readonly [(ngModel)]="selectedDate"></ion-input>
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="openDatePicker()">Open</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
