<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Ionic4-DatePicker Demo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label>Component way</ion-label>
          <li-ionic4-datepicker [(ngModel)]="mydate" [inputDateConfig]="datePickerObj"></li-ionic4-datepicker>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>Directive way</ion-label>
            <ion-input [(ngModel)]="mydate" (ionChange)="onChangeDate()"
    [liIonic4Datepicker]="datePickerObj"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
  </ion-grid>

</ion-content>